/* Tutorial */
.center{
    text-align: center;
    list-style-position: inside;
}
.tutorial-list-element{
    color: green;
    font-size: 30px;
}
.tutorial-text-block{
    color: black;
    font-size: 25px;
}

/* GameBoard */
body {
    line-height: 0;
}
table {
    border: 1px solid black;
}
table.no-spacing {
    border-spacing:0;
    border-collapse: collapse;
}
.board {
    width: 50%;
    margin: 0px auto;
}
.column {
    float: left;
}
.icon {
    width: 95%;
    height: 95%;
    float: left;
}
.navigationicon {
    width: 50px;
    height: 50px;
}
