/* Tutorial */
.center{
    text-align: center;
    list-style-position: inside;
}
.tutorial-list-element{
    color: green;
    font-size: 30px;
}
.tutorial-text-block{
    color: black;
    font-size: 25px;
}
