@(board: de.htwg.se.checkers.model.GameComponent.GameTrait)

@main("Checkers Game Board") {
  <!DOCTYPE html>
  <html>
    <head>
      <title>Checkers Game Board</title>
      <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/checkers.css")' />
      <script> 
        var counter = 0;
        var sx, sy, dx, dy;
        function move(row, col) {  
          document.getElementById("greetings").innerHTML = counter;
          if (counter % 2 == 0) {
            sx = row;
            sy = col;
          } else {
            dx = row;
            dy = col;
          }
          counter++;
        }
      </script>
    </head>
    <body>
        <div class="board">
          <div class="row">
            <div class="column">
              <table class="no-spacing" cellspacing="0">
                @for(row <- 0 until 8) {
                <tr>
                  @for(col <- 0 until 8) {
                      <td>
                        <form action="javascript:move(this)">
                          <input type="hidden" name="row" id="row" value="@row">
                          <input type="hidden" name="col" id="col" value="@col">
                          @if(board.cell(row, col).color.toString() == "white") {
                                  <img src="@routes.Assets.versioned("images/game/white.jpg")" class="icon" alt="white Tile"/>
                          } else if (board.cell(row, col).color.toString() == "black") {
                              @if(!board.cell(row,col).toString.contains("None")){
                                  @if(board.cell(row,col).toString.contains("black,Queen")){
                                    <img src="@routes.Assets.versioned("images/game/blackblackqueen.jpg")" class="icon" alt="black Tile black Queen"/>
                                  } else if (board.cell(row,col).toString.contains("black,notQueen")){
                                    <img src="@routes.Assets.versioned("images/game/blackblack.jpg")" class="icon" alt="black Tile black Piece"/>
                                  } else if (board.cell(row,col).toString.contains("white,Queen")){
                                    <img src="@routes.Assets.versioned("images/game/blackwhitequeen.jpg")" class="icon" alt="black Tile white Queen"/>
                                  } else if (board.cell(row,col).toString.contains("white,notQueen")){
                                    <img src="@routes.Assets.versioned("images/game/blackwhite.jpg")" class="icon" alt="black Tile white Piece"/>
                                  }
                              } else {
                                  <img src="@routes.Assets.versioned("images/game/black.jpg")" class="icon" alt="black Tile"/>
                              }
                          }
                        </form>
                      </td>
                  }
                </tr>
                }
              </table>
            </div>
            <div>
              <a href="http://localhost:9000/undo"><img  src="@routes.Assets.versioned("images/game/arrowBack.png")" class="navigationicon" alt="Back Arrow"/></a><a  href="http://localhost:9000/redo"><img src="@routes.Assets.versioned("images/game/arrowForward.png")" class="navigationicon" alt="Forward Arrow"/></a>
            </div>
            <div>
              <form action="http://localhost:9000/save" float: left;>
                <input type="text" id="save" name="fileName"><input type="submit" id="save" value="SAVE">
              </form>
              <form action="http://localhost:9000/load" float: right;>
                <input type="text" id="load" name="fileName"><input type="submit" id="load" value="LOAD">
              </form>
            </div>
          </div>
        </div>
    </body>
  </html>
}
