@(board: de.htwg.se.checkers.model.GameComponent.GameTrait)

@main("Checkers Game Board") {
  <!DOCTYPE html>
  <html>
    <head>
      <title>Checkers Game Board</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--Stylesheets-->
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/gameBoard-styles.css")">
      <!--Skript to calculate Positions-->
      <script> 
        var counter = 0;
        var sx, sy, dx, dy;
        function move(row, col) {  
          document.getElementById("greetings").innerHTML = counter;
          if (counter % 2 == 0) {
            sx = row;
            sy = col;
          } else {
            dx = row;
            dy = col;
          }
          counter++;
        }
      </script>
    </head>
    <body>
      <!--Navigation Bar-->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="startscreen">Checkers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="tutorial">Tutorial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newGame">Aktuelles Spiel</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--Toolbar-->
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="btn-toolbar" role="toolbar">
              <div class="d-grid gap-2 d-md-block col-12 mx-auto" role="group">
                <button type="button" class="btn btn-danger">Undo</button>
                <button type="button" class="btn btn-secondary">Redo</button>
                <button type="button" class="btn btn-info">Load</button>
                <button type="button" class="btn btn-success">Save</button>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      <!--Main Content-->
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <table class="GameBoard">
              @for(row <- 0 until 8) {
              <tr>
                @for(col <- 0 until 8) {
                  <td>
                    <form action="javascript:move(this)">
                      <input type="hidden" name="row" id="row" value="@row">
                      <input type="hidden" name="col" id="col" value="@col">
                      @if(board.cell(row, col).color.toString() == "white") {
                              <img src="@routes.Assets.versioned("images/game/white.jpg")" class="field" alt="white Tile"/>
                      } else if (board.cell(row, col).color.toString() == "black") {
                          @if(!board.cell(row,col).toString.contains("None")){
                              @if(board.cell(row,col).toString.contains("black,Queen")){
                                <img src="@routes.Assets.versioned("images/game/blackblackqueen.jpg")" class="field" alt="black Tile black Queen"/>
                              } else if (board.cell(row,col).toString.contains("black,notQueen")){
                                <img src="@routes.Assets.versioned("images/game/blackblack.jpg")" class="field" alt="black Tile black Piece"/>
                              } else if (board.cell(row,col).toString.contains("white,Queen")){
                                <img src="@routes.Assets.versioned("images/game/blackwhitequeen.jpg")" class="field" alt="black Tile white Queen"/>
                              } else if (board.cell(row,col).toString.contains("white,notQueen")){
                                <img src="@routes.Assets.versioned("images/game/blackwhite.jpg")" class="field" alt="black Tile white Piece"/>
                              }
                          } else {
                              <img src="@routes.Assets.versioned("images/game/black.jpg")" class="field" alt="black Tile"/>
                          }
                      }
                    </form>
                  </td>
                }
              </tr>
              }
            </table>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </body>
  </html>
}
