@()

@main("Checkers Tutorial") {
  <!DOCTYPE html>
  <html>
    <head>
      <title>Checkers Tutorial</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--Stylesheets-->
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-5.1.3.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/screen.tutorial.css")">
    </head>
    <body>
      <!--Navigation Bar-->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="startscreen">Checkers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="startscreen">Infos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newGame">Jetzt Spielen!</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--Main Content-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class=site-heading>TUTORIAL</h1>
            <ol>
              <li class=paragraph-heading>
                Determine who will have the first turn.
                <p>
                  <span class=paragraph-text>
                    Before you set up the board, you need to choose who goes first. <br>
                    You can do this based on who won the last game, <br>
                    a coin toss, or by any other method. The person who will go first will take the black checkers and the other will take the white. <br>
                    <span class=paragraph-text-bold>Keep in mind that in checkers, the player with the black checkers always goes first</span>
                  </span>
                </p>
              </li>
              <li class=paragraph-heading>
                Game Setup
                <p>
                  <span class=paragraph-text>
                    Sit across from your opponent and place the board between you and your opponent.
                    The board is made up of 64 alternating dark and light squares which appear in 8 rows of 8. 
                    There are 32 light squares and 32 dark squares.Place the board so that each player has a light-colored square
                     on the corner of the board on his or her right side.
                  </span>
                </p>
              </li>
              <li class=paragraph-heading>
                Checkers Rules and Gameplay<br>
                <img src="@routes.Assets.versioned("images/tutorial/Play-Checkers-Step-14-Version-6.360p.gif")"/>
                <p>
                  <span class=paragraph-text>
                    Sit across from your opponent and place the board between you and your opponent.
                    The board is made up of 64 alternating dark and light squares which appear in 8 rows of 8. 
                    There are 32 light squares and 32 dark squares. Place the board so that each player has 
                    a light-colored square on the corner of the board on his or her right side.
                  </span>
                </p>
              </li>
              <li class=paragraph-heading>
                READ MORE HERE<br>
                <a href="https://www.wikihow.com/Play-Checkers" id="githubbutton">HOW TO PLAY CHECKERS</a>     
              </li>
            </ol>
          </div>
        </div>
      </div>
      <!--Load Bootstrap and JQuery-->
      <script src='@routes.Assets.versioned("javascripts/jquery-3.6.0.min.js")'></script>
      <script src='@routes.Assets.versioned("javascripts/bootstrap-4.6.1.bundle.min.js")'></script>
    </body>
  </html>
}
