@()

@main("Checkers Tutorial") {
  <!DOCTYPE html>
  <html>
    <head>
      <title>Checkers Tutorial</title>
      <style>
        #banner {
          width: 100%;
          height: 100%;
        }
        #banner img {
          width: 100%;
          height: 100%;
        }
      </style>
    
    </head>
    <body>
      <div id="banner">
        <img src="@routes.Assets.versioned("images/startpage/chessboard.jpg")" style="float:left" alt="checkers background" usemap="#chessmap"/>
        
        <map name="chessmap">
          <area target="" alt="newGame" title="newGame" href="http://localhost:9000/newGame" coords="374,559,55" shape="circle">
          <area target="" alt="tutorial" title="tutorial" href="#tutorial" coords="1334,559,55" shape="circle">
          <area target="" alt="play" title="play" href="http://localhost:9000/newGame" coords="569,602,440,515" shape="rect">
          <area target="" alt="tutorial" title="tutorial" href="#tutorial" coords="1405,592,1610,526" shape="rect">
          <area target="" alt="github project" title="github" href="https://github.com/ro99bre/CheckersWebApp " coords="961,420,21" shape="circle" target="_blank">
        </map>
      </div>
      <a id="tutorial">
        <h1>TUTORIAL</h1>

      </a>
    </body>
  </html>
}
