@()

@main("Checkers Tutorial") {
  <!DOCTYPE html>
  <html>
    <head>
      <title>Checkers Tutorial</title>
      <style>
      .center{
        text-align: center;
        list-style-position: inside;
      }
      </style>
    
    </head>
    <body>
      <a id="tutorial">
        <h1 style="text-align: center;font-family: Arial; font-size: 90px;">TUTORIAL</h1>       
      </a>
      <ol class="center">
        <li style="color:green;font-size:30px">
          Determine who will have the first turn. <br>
          <p>
            <span style="color: black; font-size: 25px">
            Before you set up the board, you need to choose who goes first. <br>
            You can do this based on who won the last game, <br>
            a coin toss, or by any other method. The person who will go first will take the black checkers and the other will take the white. <br>
            <span style="font-weight:bold;">Keep in mind that in checkers, the player with the black checkers always goes first</span>
            </span>
          </p>
        </li>
        <li style="color:green;font-size:30px">
          Game Setup<br>
          <pre>
            <span style="color: black; font-size: 25px">
              Sit across from your opponent and place the board between you and your opponent.
              The board is made up of 64 alternating dark and light squares which appear in 8 rows of 8. 
              There are 32 light squares and 32 dark squares.Place the board so that each player has a light-colored square
               on the corner of the board on his or her right side.
            </span>
          </pre>
        </li>
        <li style="color:green;font-size:30px">
          Checkers Rules and Gameplay<br>
          <img src="@routes.Assets.versioned("images/tutorial/Play-Checkers-Step-14-Version-6.360p.gif")"/>
          <pre>
            <span style="color: black; font-size: 25px">
              Sit across from your opponent and place the board between you and your opponent.
              The board is made up of 64 alternating dark and light squares which appear in 8 rows of 8. 
              There are 32 light squares and 32 dark squares. Place the board so that each player has 
              a light-colored square on the corner of the board on his or her right side.
            </span>
          </pre>
        </li>
        <li style="color:green;font-size:30px">
          READ MORE HERE<br>
          <a href="https://www.wikihow.com/Play-Checkers" id="githubbutton">HOW TO PLAY CHECKERS</a>     
        </li>
      </ol> 
    </body>
  </html>
}
